* {
    padding: 0%;
    margin: 0%;
}

body {
    font-family: "roboto";
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #CCCCCC;
    height: 52px;
    width: 659px;
    margin-left: 300px;
    align-items: center;
}

.btn {
    background-color: #2B78E4;
    color: white;
    box-shadow: 30px black;
    height: 30px;
    width: 60px;
}

.main-content {
    border: 3px solid grey;
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 165px;
    width: 397px;
    align-items: center;
    gap: 30px;
}

.cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.btn2 {
    box-shadow: 30px black;
    background-color: #FFD966;
    color: black;
}

.main-content2 {
    border: 3px solid grey;
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 165px;
    width: 397px;
    align-items: center;
    gap: 30px;
}

.blocks-managment {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.main-content3{
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    height: 140px;
    width: 230px;
    margin-top: 20px;
    gap: 20px;
    
}
.main2{
    display: flex;
    flex-direction: row;
    margin-left: 230px;
}
.btn3{
    background-color: #93C47D;
    height: 30px;
    width: 170px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}